.notfound-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    background: linear-gradient(135deg, #f8f9fa, #ffe6e6);
    color: #333;
    padding: 20px;
    animation: fadeIn 0.8s ease;
}

.notfound-container h1 {
    font-size: 10rem;
    margin: 0;
    font-weight: 900;
    color: tomato;
    animation: bounce 1s infinite alternate;
}

.notfound-container h2 {
    font-size: 2rem;
    margin: 20px 0 10px;
}

.notfound-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #666;
}

.btn-home {
    background-color: tomato;
    color: white;
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-home:hover {
    background-color: rgb(249, 58, 24);
    transform: scale(1.05);
}

/* Animations */
@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
