.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 140px;
}

.navbar .logo:hover{
    opacity: 0.7;
    transition: transform 0.2s ease, opacity 0.2s ease;
    cursor: pointer;
}


.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-menu a{
    text-decoration: none;
    color: #49557e;
    transition: 0.2s ease;
}

.navbar-menu a:hover {
    color: tomato;               
    transform: translateY(-2px); 
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.navbar button:hover{
    color: white;
    background-color: tomato;
}


.navbar .active{
    color: tomato; 
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
}

.navbar li{
    cursor: pointer;
}

.cart-icon-wrapper {
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease, opacity 0.2s ease;
    cursor: pointer;
}

.cart-icon-wrapper:hover {
    transform: scale(1.15);
    opacity: 0.9;
}


.cart-icon-wrapper img {
    display: block;
}

.cart-icon-wrapper .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -4px;
    right: -4px;
    transition: transform 0.2s ease;
}

.cart-icon-wrapper:hover .dot {
    transform: translate(2px, -2px);
}

.active-cart img {
    filter: drop-shadow(0 0 20px tomato);
    transform: scale(1.15);
}

.active-cart .dot {
    background-color: tomato;
}

.navbar-profile{
    position: relative;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img{
    width: 20px;
}

.nav-profile-dropdown li:hover{
    color: tomato;
}


@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px){
    .navbar-menu{
        display: none;
    }
}